body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #333;

}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}


footer {
    background-color: #333;
    shape-margin: 0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    resize: 0;
    bottom: 0;
    width: 100%;

}
