body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: white;
}

header {
    background-color: violet;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: violet;
}

nav ul li {
    margin: 0 15px; 
}


nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
}

image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}   


footer {
    background-color: violet;
    shape-margin: 0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    resize: 0;
    bottom: 0;
    width: 100%;

}
